/* region common */
:root{
    --fizzbuzzdom-bg-primary: #083b4c;
    --fizzbuzzdom-bg-secondary: #1389b2;
    --fizzbuzzdom-bg-fizz: #0cd6a1;
    --fizzbuzzdom-bg-buzz: #ffd166;
    --fizzbuzzdom-bg-lighter: #ffffff;



}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
    font-family: "Roboto", sans-serif;
}
/* endregion common */

.container{
    max-width: 1400px;
    width: 80%;
    margin: auto;
    text-align: center;
    & h1{
        color: var(--fizzbuzzdom-bg-lighter);
        font-size: 50px;
    }
    & ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        
        & .box{
            width: calc(((100% / 12) * 2) - 20px);
            aspect-ratio: 1;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;

        
        }
    }
}
